/server/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/server/.idea/modules.xml
/server/.idea/server.iml
/.idea/shelf/shelf.xml
/.idea/shelf/shelf/shelved.patch
/.idea/test2.iml
/.idea/vcs.xml
/server/.idea/vcs.xml
/.idea/workspace.xml
/server/node_modules/
/client/node_modules/
/server/package-lock.json
/node_modules/
/cypress/videos/basic-testing/basic-testing.spec.js.mp4
/cypress/screenshots/basic-testing/basic-testing.spec.js/example to-do app -- displays two todo items by default (failed).png
